services:
  mysql:
    image: yarasouza/mysql:1.0
    container_name: mysql_db
    env_file:
      - .env
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  python_app:
    build:
      context: .
      dockerfile: Dockerfile-python
    container_name: python_app
    depends_on:
      - mysql
    env_file:
      - .env
    volumes:
      - .:/app

volumes:
  mysql_data:
